{% extends "LifeCheqApp/base.html" %}
{% block content %}
{% load static%}
 
<div class="container-fluid">
    <div class="card mb-2" class="span8 offset4">
    <div class="card-header"> 
      <ul  class="nav nav-pills ">
        <li class="nav-object">
            <a id="overwrite-nav-link" class="nav-link" href="{% url 'LifeCheqApp:input' %}">Input</a>
        </li>
        <li class="nav-object">
            <a id="overwrite-nav-link" class="nav-link" href="{% url 'LifeCheqApp:output' object.loan_number%}">Output</a>
        </li>
        <li class="nav-object">
            <a id="overwrite-nav-link" class="nav-link" href="#">{% url 'LifeCheqApp:table' %}</a>
        </li>
        <li class="nav-object">
            <a  id="overwrite-nav-link" class="nav-link"  href="#">{% url 'LifeCheqApp:input' %}</a>
        </li>
        <li class="nav-object">
            <a id="overwrite-nav-link-active" class="nav-link active " href="LifeCheqApp:outputs" tabindex="-1" >All Outputs</a>
        </li>
      </ul>  
    </div>
  
  {% for object in objects %}

  <div class="container-fluid">
    <div class="card mb-2" class="w-75">  
    <h6 class="card-header">   
     Loan {{ object.loan_number }} created on {{ object.date_added }} for {{ user }}
    </h6>
    <div class="card-body">
        <table class="table">
          <tbody>
            <tr>
              <td>Monthly payment due on loan</td>
              <td id="result">{{ object.payment|floatformat:2 }}</td>
            </tr>
            <tr>   
              <td>Purchase price of property</td>
              <td>{{ object.price|floatformat:2 }}</td>
            </tr>
            <tr>
              <td>Deposit paid on property</td>
              <td>{{ object.deposit|floatformat:2 }}</td>
            </tr>
            <tr>
              <td>Principal of loan</td>
              <td>{{ object.principal|floatformat:2 }}</td>
            </tr>
            <tr>
              <td>Interest Rate</td>
              <td>{{ object.interest_rate|floatformat:2 }} %</td>
            </tr>
            <tr>
              <td>Term of loan </td>
              <td>{{ object.term|floatformat:0 }}</td>
            </tr>
          </tbody>
        </table>
    </div>
   </div>
   </div>
</div>
    {% endfor %}
   
</div>

{% endblock content %}