{% extends "LifeCheqApp/base.html" %}
{% load static %}

{% block content %}

<div id="overwrite-container" class="jumbotron jumbotron-fluid" >
  <div class="container">
    <img src="{% static "LifeCheqApp/lifecheq.svg" %}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    <h1 class="display-3" style="text-align: center; color: white;">Loan Calculator</h1>
    <hr class="my-4">
    <p class="lead">Determine the monthly payment required to service a loan and keep track of all your outstanding debts! </p>
    <hr class="my-4">
    <p class="lead">
      <a id="overwrite-button" class="btn btn-primary btn-lg" href="{% url 'LifeCheqApp:input' %}" role="button">Register</a>
      <a id="overwrite-button" class="btn btn-primary btn-lg" href="{% url 'LifeCheqApp:input' %}" role="button">Login</a>
    </p>
  </div>
</div>

{% endblock content %}


style="background:rgba(122, 113, 112, 0.5) !important"