{% extends "lifecheq_app/base.html" %}
{% load humanize %}
{{ floatvalue|floatformat:2 }}

{% block content %}
 
<div class="container-fluid">
  <div class="card mb-2">
    <div class="card-header">   
    <ul class="nav nav-pills card-header-pills">
        <li class="nav-object">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-object">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-object">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr scope="row">
            <td>Period</td>
            <td>Balance at Start</th>
            <td>Payment</th>
            <td>Interest paid</th>
            <td>Principal paid</th>
            <td>Balance at End</td>
          </tr>
          {% for object in objects %}  
          <tr>
            <td>{{ object.0|floatformat:0  }}</td>
            <td>{{ object.1|floatformat:2  }}</td>
            <td>{{ object.2|floatformat:2  }}</td>
            <td>{{ object.3|floatformat:2  }}</td>
            <td>{{ object.4|floatformat:2  }}</td>
            <td>{{ object.5|floatformat:2  }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>

{% endblock  %}
