/* #overwrite-container {
   background-image: linear-gradient(to bottom, rgba(242,89,82,1),  rgba(242,89,82,0.75));
} */

#overwrite-button {
   border: rgba(242,89,82,1);
   background: rgba(242,89,82,0.9);
}

#overwrite-button:hover {
   border: rgba(242,89,82,1);
   background: rgba(242,89,82,0.75);
}

#overwrite-nav-link-active {
   border: rgba(242,89,82,1);
   background: rgba(242,89,82,0.9);
}

#overwrite-nav-link {
   color: rgba(242,89,82,1);
}
